In [169]:
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import os

In [170]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\17147\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [171]:
#Nasa Mars News
url = 'https://redplanetscience.com/'
browser.visit(url)

In [172]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

title = soup.find_all('div', class_='content_title')
news_p = soup.find_all('div', class_='article_teaser_body')

#Title and Paragraph variables
news_title = title[0].text
news_paragraph = news_p[0].text

print(title[0].text)
print(news_p[0].text)

The Launch Is Approaching for NASA's Next Mars Rover, Perseverance
The Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan.

In [173]:
#Mars Image
image_url = 'https://spaceimages-mars.com/'
browser.visit(image_url)

In [174]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
image = soup.find_all('img', class_='headerimage fade-in')
for h in image:
    featured_image_url = 'https://spaceimages-mars.com/' + h["src"]
    
print(featured_image_url)  

# Alternate method:
# elems = browser.find_by_tag('img[class='headerimage fade-in]')['src']
# for x in elems:
#    print(x["src"])

https://spaceimages-mars.com/image/featured/mars3.jpg

In [175]:
# Mars Facts
mars_fact_url = "https://galaxyfacts-mars.com/"

In [176]:
tables = pd.read_html(mars_fact_url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [177]:
df = tables[0]
df = df.rename(columns = {0 :' ',
                    1 : 'Mars',
                    2 : 'Earth'})
df

                                       Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [180]:
html_table = df.to_html(justify="left", classes="table table-striped")
html_table.replace('\n', '')

'<table border="1" class="dataframe table table-striped">  <thead>    <tr style="text-align: left;">      <th></th>      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Mars - Earth Comparison</td>      <td>Mars</td>      <td>Earth</td>    </tr>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [11]:
df.to_html('table.html')
#!open table.html - Can only manual open

In [167]:
#Mars Hemispheres 
mars_hemispheres_url = "https://marshemispheres.com/"
browser.visit(mars_hemispheres_url)

In [168]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
image = soup.find_all('a', class_='itemLink product-item')

hemishere_image_urls = []
#The range(len)-1 below was to allow us to reduce the duplicate anchor rows appearing to one row each
for i in range(len(image)-1):
    #The mod below is to display only one url by taking only the even numbers in the range(len) list
    if(i%2==0):
        #To loop through all four links we need to first find the url and concantenate 
        full_res_image_ = 'https://marshemispheres.com/' + image[i]["href"]
        #browser.visit on each concantenated url from above
        browser.visit(full_res_image_)
        
        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')
        #Since each image and title have the same parent line in the html, we can use beautifulsoup to find url/title for each
        image1 = soup.find_all('img', class_='wide-image')
        title = soup.find('h2', class_='title')
        #The for-loop below is for grabbing the "src" section of the img tag
        for h in image1:
            #Concantenate
            featured_resolution = 'https://marshemispheres.com/' + h["src"]
            #Append both title and url to dictionary
            empty_urls.append({'title':title.text,'img_url':featured_resolution})

            
hemishere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [13]:
browser.quit()